<mat-card>
  <form [formGroup]="newPostForm" #formDirective="ngForm"  (ngSubmit)="addPost(formDirective)">
    <mat-form-field appearance="fill">
      <mat-label>Post Title</mat-label>
      <input 
        matInput 
        formControlName="title"
        #title
      >
      <mat-error *ngIf="newPostForm.controls['title'].invalid">
        Please enter the post title
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Post Content</mat-label>
      <textarea 
        matInput 
        rows="6" 
        formControlName="content"
      ></textarea>
      <mat-error *ngIf="newPostForm.controls['content'].invalid">
        Please enter the post content
      </mat-error>
    </mat-form-field>
    <button mat-stroked-button color="primary" type="submit">Save</button>
  </form>
</mat-card>