.no-posts {
  background-color: rgb(254, 201, 201);
  border: 1px solid tomato;
  border-radius: 3px;
  padding: 2px 4px;
  color: tomato;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
}